---
import * as Icons from "@/components/icons";
import * as TechnologiesIcons from "@/components/icons/technologies";

import SectionLayout from "../_layouts/section-layout.astro";

const KNOWLEDGEMENTS_DATA: {
    icon: Icons.IconType;
    title: string;
    technologies: {
        icon: Icons.IconType;
        name: string;
        color: string;
    }[];
}[] = [
    {
        icon: Icons.Desktop,
        title: "Frontend",
        technologies: [
            {
                icon: TechnologiesIcons.Html,
                name: "HTML",
                color: "227 79 38",
            },
            {
                icon: TechnologiesIcons.Css,
                name: "CSS",
                color: "21 114 182",
            },
            {
                icon: TechnologiesIcons.JavaScript,
                name: "JavaScript",
                color: "247 223 30",
            },
            {
                icon: TechnologiesIcons.TypeScript,
                name: "TypeScript",
                color: "49 120 198",
            },
            {
                icon: TechnologiesIcons.AstroIcon,
                name: "Astro",
                color: "255 93 1",
            },
            {
                icon: TechnologiesIcons.TailwindCss,
                name: "Tailwind CSS",
                color: "6 182 212",
            },
            {
                icon: TechnologiesIcons.React,
                name: "React.js",
                color: "97 218 251",
            },
            {
                icon: TechnologiesIcons.NextJs,
                name: "Next.js",
                color: "var(--foreground-muted)",
            },
        ],
    },
    {
        icon: Icons.Server,
        title: "Backend",
        technologies: [
            {
                icon: TechnologiesIcons.Bun,
                name: "Bun",
                color: "var(--foreground-muted)",
            },
            {
                icon: TechnologiesIcons.NodeJs,
                name: "Node.js",
                color: "51 153 51",
            },
            {
                icon: TechnologiesIcons.Express,
                name: "Express",
                color: "var(--foreground-muted)",
            },
            {
                icon: TechnologiesIcons.SocketIo,
                name: "Socket.io",
                color: "var(--foreground-muted)",
            },
            {
                icon: TechnologiesIcons.MongoDb,
                name: "MongoDB",
                color: "71 162 72",
            },
            {
                icon: TechnologiesIcons.Python,
                name: "Python",
                color: "55 118 171",
            },
            {
                icon: TechnologiesIcons.Selenium,
                name: "Selenium",
                color: "67 176 42",
            },
            {
                icon: TechnologiesIcons.PostgreSql,
                name: "PostgreSQL",
                color: "65 105 225",
            },
        ],
    },
    {
        icon: Icons.Terminal,
        title: "Other",
        technologies: [
            {
                icon: TechnologiesIcons.Git,
                name: "Git",
                color: "240 80 50",
            },
            {
                icon: TechnologiesIcons.Supabase,
                name: "Supabase",
                color: "63 207 142",
            },
            {
                icon: TechnologiesIcons.Swagger,
                name: "Swagger",
                color: "133 234 45",
            },
            {
                icon: TechnologiesIcons.TelerikFiddler,
                name: "Telerik Fiddler",
                color: "92 229 0",
            },
        ],
    },
];
---

<SectionLayout title="Knowledgements">
    <div class="flex w-full flex-wrap justify-center gap-8">
        {
            KNOWLEDGEMENTS_DATA.map(({ icon: Icon, title, technologies }) => (
                <div class="flex w-full max-w-xs flex-col gap-y-4 rounded-2xl border border-border p-6 shadow-border-top shadow-border-shadow">
                    <div>
                        <Icon aria-hidden class="size-5 fill-foreground-muted" />
                    </div>

                    <h3 class="text-sm font-medium">{title}</h3>

                    <div class="h-px w-full bg-border" />

                    <div class="flex h-full flex-wrap items-center justify-center gap-x-2">
                        {technologies.map(({ icon: TechnologyIcon, name, color }) => (
                            <div
                                class="group flex size-14 flex-col items-center justify-center gap-y-1"
                                style={`--technology-color: ${color};`}
                            >
                                <TechnologyIcon class="size-4 fill-foreground shadow-[rgb(var(--technology-color))]/25 transition-colors group-hover:fill-[rgb(var(--technology-color))] group-hover:drop-shadow-icon" />

                                <span class="text-center text-xxs font-medium shadow-[rgb(var(--technology-color))]/25 transition-colors group-hover:text-[rgb(var(--technology-color))] group-hover:[text-shadow:0px_0px_10px_var(--tw-shadow-color)]">
                                    {name}
                                </span>
                            </div>
                        ))}
                    </div>
                </div>
            ))
        }
    </div>
</SectionLayout>
