@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@layer base {
    :root {
        --primary: rgb(52, 35, 166);
        --background: rgb(7, 8, 10);
        --foreground: rgb(255, 255, 255);
        --foreground-muted: rgb(156, 156, 157);
        --border: rgba(255, 255, 255, 0.06);
    }
}
