---
import Header from "@/components/header.astro";
import Metadata from "@/components/metadata.astro";
import { siteConfig } from "@/config";

import Footer from "./_components/footer.astro";
import Hero from "./_components/hero.astro";
import Knowledgements from "./_components/knowledgements.astro";
import Projects from "./_components/projects.astro";
---

<html lang="en">
    <head>
        <Metadata title={`${siteConfig.author}'s Website`} />
    </head>

    <body>
        <Header />

        <div class="mx-auto w-[92.5%] max-w-screen-xl">
            <Hero />

            <Knowledgements />

            <Projects />

            <Footer />
        </div>
    </body>
</html>
