---
import * as Icons from "@/components/icons";
import { siteConfig } from "@/config";
import { cn } from "@/lib/utils";

const { pathname } = Astro.url;

const HEADER_DATA: {
    title: string;
    navigation: {
        children: string;
        href: string;
    }[];
    socials: {
        label: string;
        href: string;
        icon: Icons.IconType;
    }[];
} = {
    title: siteConfig.title,
    navigation: [
        { children: "Home", href: "/" },
        { children: "Blog", href: "/blog" },
        { children: "About", href: "/about" },
    ],
    socials: siteConfig.socials.map(({ key, ...social }) => ({
        ...social,
        icon: Icons[key as keyof typeof Icons],
    })),
};
---

<div class="fixed z-[1] w-full animate-fade-in p-4 pb-0 [animation-delay:3s]">
    <header
        class="mx-auto flex max-w-screen-xl items-center justify-between gap-x-4 rounded-2xl border-[1px] border-border bg-[linear-gradient(135deg,_rgba(17,_18,_20,_0.75)_5%,_rgba(12,_13,_15,_0.9)_75%)] p-6 shadow-border-top shadow-border-shadow backdrop-blur-sm"
    >
        <h2 class="sm:flex-1">
            <a class="text-center font-bold underline-offset-2 hover:underline" href="/">
                Agustín Arnoldi
            </a>
        </h2>

        <nav class="flex flex-wrap justify-center gap-4 sm:gap-x-8">
            {
                HEADER_DATA.navigation.map(({ children, href }) => {
                    const subpath = pathname.match(/[^\/]+/g);
                    const isActive = href === pathname || href === "/" + subpath?.[0];

                    return (
                        <a
                            class={cn(
                                "text-center text-sm font-semibold text-foreground-muted transition-colors hover:text-foreground",
                                isActive && "text-foreground"
                            )}
                            href={href}
                        >
                            {children}
                        </a>
                    );
                })
            }
        </nav>

        <section class="hidden justify-end gap-x-3 sm:flex sm:flex-1">
            {
                HEADER_DATA.socials.map(({ label, href, icon: Icon }) => (
                    <a
                        aria-label={label}
                        class="transition-transform duration-300 hover:scale-110"
                        href={href}
                        rel="noopener noreferrer"
                        target="_blank"
                    >
                        <Icon class="size-5 fill-foreground" />
                    </a>
                ))
            }
        </section>
    </header>
</div>
