---
import type { HTMLAttributes } from "astro/types";

import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"section"> {
    title: string;
}

const { title, class: className, ...props } = Astro.props;
---

<section
    class={cn(
        "flex min-h-dvh animate-fade-in flex-col items-center justify-center gap-y-8 py-8 [animation-delay:3s] md:snap-center lg:gap-y-12",
        className,
    )}
    {...props}
>
    <h2 class="text-center text-subtitle shadow-primary/75 drop-shadow-heading">
        {title}
    </h2>

    <slot />
</section>
