---
import type { HTMLAttributes } from "astro/types";

import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"section"> {
    title: string;
}

const { title, class: className, ...props } = Astro.props;
---

<section
    class={cn(
        "items-center flex flex-col min-h-dvh justify-center gap-y-8 py-8 lg:gap-y-12 animate-fade-in [animation-delay:3s]",
        className,
    )}
    {...props}
>
    <h2 class="text-center text-subtitle shadow-primary/75 drop-shadow-heading">
        {title}
    </h2>

    <slot />
</section>
