---
import type { HTMLAttributes } from "astro/types";

import Header from "@/components/header.astro";
import Metadata, { type Props as MetadataProps } from "@/components/metadata.astro";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"div"> {
    metadata: MetadataProps;
}

const { class: className, metadata, ...props } = Astro.props;
---

<html lang="en">
    <head>
        <Metadata {...metadata} />
    </head>

    <body>
        <Header />

        <div class={cn("mx-auto mt-[110px] w-[92.5%] max-w-prose py-8", className)} {...props}>
            <slot />
        </div>
    </body>
</html>
