---
import type { HTMLAttributes } from "astro/types";

import Header from "@/components/header.astro";
import { siteConfig } from "@/config";
import { cn } from "@/lib/utils";

import "@/styles/globals.css";

interface Props extends HTMLAttributes<"div"> {
    title?: string;
}

const { title = siteConfig.title, class: className, ...props } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>

    <body class="bg-background font-sans text-foreground antialiased">
        <Header />

        <div class={cn("mx-auto w-[92.5%] max-w-screen-xl", className)} {...props}>
            <slot />
        </div>
    </body>
</html>
