---
import type { HTMLAttributes } from "astro/types";

import Header from "@/components/header.astro";
import Metadata, { type Props as MetadataProps } from "@/components/metadata.astro";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"div"> {
    metadata?: MetadataProps;
    variant?: "blog" | "landing";
}

const { class: className, metadata = {}, variant = "blog", ...props } = Astro.props;
---

<html lang="en">
    <head>
        <Metadata {...metadata} />
    </head>

    <body>
        <Header />

        <div
            class={cn(
                "mx-auto w-[92.5%]",
                variant === "blog" ? "mt-[110px] max-w-prose py-8" : "max-w-screen-xl",
                className,
            )}
            {...props}
        >
            <slot />
        </div>
    </body>
</html>
